@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h2 class="display-6">Try to add a new Resturant to the Database</h2>
    <input name = "Textbox1" id="Textbox1" type="text">
    <input name = "Textbox2" id="Textbox2" type="text">
    <input name = "Textbox3" id="Textbox3" type="text">
    <input name = "Textbox4" id="Textbox4" type="text">
    <input name = "Textbox5" id="Textbox5" type="text">
    <input name = "Textbox6" id="Textbox6" type="text">
    <input name = "Textbox7" id="Textbox7" type="text">
    <button class="btn-outline-primary"> Create </button>
</div>
