@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h1>Please enter info to log a resturant</h1>
        </div>
        <form class="dialog-body">
            <div>
                
                <label>Name</label>
                <input type="text" @bind="Name" />
                <label>Style</label>
                <input type="text" @bind="Style" />
            </div>
        </form>
    </div>
</div>

@code{
    Resturant newResturant;
    private int Id { get; set; }
    private string Name { get; set; }
    private string Style { get; set; }
    private int PriceClass { get; set; }
    private double Distance { get; set; }
    private string Address { get; set; }
    private double Rating { get; set; }
    Resturant LogResturant(Resturant r)
    {
        newResturant = new Resturant()
        {

        };
        return newResturant;
    }
}